@{
    Session.Abandon(); 
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
    <style>
        body{
            text-align:center;
        }
    </style>
</head>
<body>
    <h2>Log out successfully</h2>
    <a href="~/Default.cshtml">return to home page</a>
</body>
</html>
