@RenderPage("~/3lines.cshtml")

@using WebMatrix.Data
@{
    Database db = Database.Open("lmsdb");
    var kk = Request.Cookies["category"].Value;
    var q = "select * from "+kk;
    var st = "";
    if (IsPost && Request.Form["btn"] != null)
    {
        st = "%" + Request.Form["st"] + "%";
        q = "select * from " + kk + " where title like @0";
    }
    var r = db.Query(q, st);
    WebGrid w = new WebGrid(r);

    var containerStyle = "margin-left: 10px";
}
<style>
    
    .webgrid-table {
        width: 1000px;
        font-size: 40px;
    }

    div{
        float:right;
        padding-right:20px;
    }
    h1,p{
        margin-left:200px;
    }
</style>

<body>
    <div>
        <form method="post" action="">
            <fieldset>
                <legend>search</legend>
                title<input type="text" id="st" name="st" />
                <input type="submit" id="btn" name="btn" value="search" />
            </fieldset>
        </form>
    </div>
</body>
<div style="@containerStyle">
    <h1>The books are:</h1>

    @w.GetHtml(tableStyle: "webgrid-table",
    headerStyle: "webgrid-header",
    alternatingRowStyle: "webgrid-alternating-row",
    rowStyle: "webgrid-row-style",
        columns: w.Columns(w.Column("id"), w.Column("title"), w.Column("author"), w.Column("price"), w.Column("status"),
        w.Column(format:@<a href=" ~/view?id=@item.id">view</a>)
))
    </div>
